.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  background-color: aliceblue;
  padding: 20px;
}
.get-inputbox {
  margin-left: 150px;
  margin-top: 100px;
}
.subgrid-contact {
  display: grid;
  grid-template-columns: repeat(2, 390px);
}
.media-details {
  
  margin-left: 100px;
  margin-top: 200px;
  
}
.media {
  margin-top: 20px;
  
}
.media-icons {
  padding: 10px;
  height: 30px;
  width: 30px;
}
