.lense-bg-div{
    background-color:white;
   }
   .lense-header-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:100px;
    }
   .lense-header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: indigo;
    font-size: 40px;
    letter-spacing: 3px;
   }
   .lense-header-content{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

   }
.lense-main-grid{
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 50px;
    margin-top: 200px;
    margin-left: 200px;
    padding: 20px;
}
.lense-content-div{
    margin-top: 50px;

}
.lense-content-header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: indigo;
}
.lense-maincontent{
    margin-top: 30px;
    text-align: justify;
    font-family: cursive;
}
.main-content-view{
    margin-top: 150px;
    margin-left: 50px;
}
.lense-details-maingrid{
    display: grid;
    grid-template-columns: repeat(2,600px);
    gap: 40px;
}
.lense-details-subgrid{
        display: grid;
    grid-template-rows: repeat(4,400px);
    gap: 440px;

}
.lense-details-subgrids{
    display: grid;
    grid-template-rows: repeat(3,300px);
}