.lense-bg-div{
    background-color:rgb(252, 238, 238);
   }
   .lense-header-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    }
   .lense-header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: indigo;
    font-size: 40px;
    letter-spacing: 3px;
   }
   .lense-header-content{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

   }
.lense-main-grid{
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 50px;
    margin-top: 100px;
    margin-left: 200px;
    padding: 20px;
}
.lense-content-div{
    margin-top: 50px;

}
.lense-content-header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: indigo;
}
.lense-maincontent{
    margin-top: 30px;
    text-align: justify;
    font-family: cursive;
}
.main-content-view{
    margin-top: 100px;
    margin-left: 150px;
}
@media screen and  (min-width: 320px) and (max-width: 480px){
    .lense-header-div{
    min-width: 200px;  
        }
    .lense-main-grid{
        display: grid;
        grid-template-columns: repeat(1,350px);
        gap:0;
    margin: 0;
    }
    .lense-main-grid img{
        height: 250px;
        width: 250px;
    }
    .lense-header-content{
        margin: 10px;
    }
    .lense-content-div{
margin: 0;
  
    }
    .lense-subcontent{
       margin: 20px;
    }
    .lense-maincontent{
        min-width: 200px;
        display: inline;
        font-size: 16px;
        margin:10px;
    }
    .main-content-view{
        margin-left: 30px;
    }
}